body{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
h1{
	color: #8B1E2E;
}
img{
	width: 100%;
	height: 100%;
}
a{
	text-decoration: none;
}
.contenido-general{
	width: 200px;
	height: 250px;
	padding: 10px;
}
.background-contenedor{
	background: #8B1E2E;
	padding: 10px 5px;
	height: auto;
}
.divisiones{
	box-sizing: border-box;
	width: 100%;
	height: 57px;
	position: relative;
}
.div-codigo{
	background: rgba(255,255,255,1);
	padding: 10px 5px;
}
.div-formato{
	padding: 0;
	margin-top: 7px;
}
.espacio{
	display: inline-block;
	position: absolute;
	top: 0;
}
.respuesta{
	width: 60%;
	height: 57px;
	background: #F5DA81;
	left: 0;
}
.icons{
	width: 10%;
	height: 30px;
	text-align: center;
	right: 30%;
}
.div-img{
	box-sizing: border-box;
	background: white;
	padding: 2px;
	width: 30%;
	height: 35px;
	right: 0;
}